.logo{
    width: 130px;
}

.dropdown-item:active{
    background-color: #fff;
    color: #000;
}

.dropdown-btn:active{
    background-color: #fff;
    color: #000;
}

.search{
    outline: none;
    width: 400px;
}

.btns img{
    width: 20px;
}

#star-1{
    top: 100px;
    right: 20px;
    animation: star infinite 2.6s linear;
}

#star-2{
    top: 190px;
    left: 0px;
    width: 60px;
    animation: star infinite 3s linear;

}


@keyframes star{
    0%{
        transform: scale(0.8);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.8);
    }
}


.title{
    font-weight: 900;
}

h1{
    font-size: 64px;
    letter-spacing: -4px;
}

h2{
    font-size: 45px;
    letter-spacing: -3px;

}

.container-main {
    margin-top: 100px;
    margin-left: 315px;
    font-weight: 500;
}

main{
    margin-left: 315px;
    margin-top: 100px;
    font-weight: 500;
}

.p_2 {
    font-size: 50px;
    font-weight: 800;
}

.wrapper {
    display: grid;
  }